<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>Home</title>

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/blog.css}" rel="stylesheet"></link>
    
    <!-- JS -->
    <script th:href="@{/js/bootstrap.min.js}"></script>
    <script th:href="@{/js/jquery-3.1.0.min.js}"></script>
  </head>
  
  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">Topic</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="row">
      
        <div class="col-md-8 col-md-offset-2 blog-main">
      	  <div class="blog-header">
            <h1 class="blog-title">新闻事件检测</h1>
            <p class="lead blog-description">News Event Detection</p>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2 blog-main" th:each="simpleTopic : ${simpleTopicList}">
        
          <div class="blog-post">
            <a class="blog-post-title" th:text="${simpleTopic.news_title}" th:href="@{/{topicId}(topicId=${simpleTopic.topic_id})}"></a>
            <p class="blog-post-meta" th:text="${simpleTopic.news_time}"></p>
            <p th:text="${simpleTopic.news_summary}"></p>
            <hr></hr>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

<!--     <footer class="blog-footer"> -->
<!--       <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
<!--       <p> -->
<!--         <a href="#">Back to top</a> -->
<!--       </p> -->
<!--     </footer> -->

    <footer class="blog-footer">
      <p>&copy; 2018 &nbsp;中山大学&nbsp; 数据科学与计算机学院&nbsp; 吴杰锋</p>
    </footer>

  </body>
  
</html>