<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head lang="en">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <title>Topic</title>

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/blog.css}" rel="stylesheet"></link>
    
    <!-- JS -->
    <script th:href="@{/js/bootstrap.min.js}"></script>
    <script th:href="@{/js/jquery-3.1.0.min.js}"></script>
  </head>
  
  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" th:href="@{/}">Home</a>
          <a class="blog-nav-item active" href="#">Topic</a>
        </nav>
      </div>
    </div>
    
    <br></br>  <br></br>
    <br></br>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 blog-main">
        
          <!-- 事件标题和摘要 -->
          <div class="blog-post">
            <h4 class="blog-post-title" th:text="${event_title}"></h4>
            <br></br>
            <p th:text="${event_summary}"></p>
          </div><!-- /.blog-post -->
          
          <!-- 事件包含的新闻列表 -->
          <div class="row">
            <ul th:each="simpleNews : ${simpleNewsList}">
              <li>
                <a class="col-md-9"
              		th:text="${simpleNews.news_title}" 
              		th:href="@{${simpleNews.news_url}}" 
              		target="_blank"></a>
                <p th:text="${simpleNews.news_source}" class="col-md-3 blog-post-meta"></p>
              </li>
            </ul>
          </div>

          
          <br></br>
          <br></br>
          
          <!-- 事件追踪，话题的事件列表 -->
          <div class="panel panel-primary">
  			<div class="panel-heading">
    		  <h3 class="panel-title">事件追踪</h3>
  			</div>
  			<div class="panel-body">
  			  <dl th:each="simpleEvent : ${simpleEventList}" class="dl-horizontal">
  			    <dt th:text="${simpleEvent.event_time}"></dt>
  			    <dd th:text="${simpleEvent.news_title}"></dd>
			  </dl>
  			</div>
		  </div>

        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>&copy; 2018 &nbsp;中山大学&nbsp; 数据科学与计算机学院&nbsp; 吴杰锋</p>
    </footer>

  </body>
  
</html>